<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to OnlineExamination.com, <%= @student["name"] %></h1>
    <p>
      You have successfully given your OnlineExamination,
      your username is:<%= @student["email"] %><br>
    </p>
    <p>Your total mark::<%= @marks%> out of <%= @exam.total_marks%><p>
   
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
